/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

#logo {
	float: left;
	width: 30%;
	height: auto;
}

#first {
	background-color: #ccffcc;
}

body {
	font-family: "geneva", arial, sans-serif;
}


/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px;
}

.content {
	text-align: left;
	overflow: auto;
}

img {
	margin: 10px;
}

.background-photo img {
	max-width: 100%;
} 

.z-area1 {
	padding: 10px;
}

.z-area2 {
	padding: 20px;
	background-color: #80ff80;
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}

.z-area2 a {
	color: #001a00;
	text-decoration: none;
	font-family: "geneva", arial, sans-serif;
}

.z-area3 p {
	float: left;
	max-width: 50%
}

.z-area4 {
	padding: 20px;
	background-color: #80ff80;
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}

.z-area4 a {
	color: #001a00;
	text-decoration: none;
}


